
nav{
    display: flex;
    background-color:rgb(248, 244, 238) ;
    top: 0;
    position: sticky;
    
}

nav div{
    text-align: center;
}

nav div#logo{
    text-align: left;
    padding: 5px 25px 5px 5px;
    margin: 5px;
    top: 2%;
    left: 3%;
}

nav div.pos{
    padding: 30px 25px 5px 25px;
    border-color: blue;

}

nav div.pos label a input.form{
    border-radius: 10px;
    padding: 3px 5px;
    border-color:cadetblue;
    background-color: cadetblue;
} 

nav div label input#search{
    padding: 5px 25px 5px 5px;
    margin: 25px;
    border-radius: 10px;
    background-color: beige;
    color: black;


}

#img{
    display: inline;
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
    color: cadetblue;
    width: 78px;
    
    
}

h1{
    display: inline;
    text-align: left;
    color: cadetblue;

} 

h3{
    color:black;
    text-decoration: solid underline black;
}

div.books {
    display: flex;
    background-color:rgb(214, 211, 207);
    min-width: 20px;


    
}

div.books div.cover img{
    display: flex;
    text-align: center;
    margin: 10px;

}

div.books div.cover div.Borrow {
    text-align: center;
    border: center;

}

div.books div.cover div button{
    border-color:blue;
    background-color: blue;
    border-radius: 20px;
    padding: 5px;
    color: white;
    text-align: center;

}

div.Kids  {
    display: flex;
    background-color:rgb(214, 211, 207);
    min-width: 20px;
}

div.Kids div {
    display: inline;
    text-align: center;
    border-radius: 20;
}

div.Kids div button{
    display: inline;
    text-align: center;
    border-color:blue;
    background-color: blue;
    border-radius: 20px;
    padding: 5px;
    color: white;
}

div.Kids div img{
    margin: 10px;
}