
body{
    background-color: beige;
}
nav{
    display: flex;
    background-color:rgb(248, 244, 238) ;
    top: 0px;
    position: sticky;
    
}

nav div{
    text-align: center;
}

nav div#logo{
    text-align: left;
    padding: 5px 25px 5px 5px;
    margin: 5px;
    top: 2%;
    left: 3%;
}

nav div.pos{
    padding: 30px 25px 5px 25px;
    border-color: blue;

}

nav div.pos label a input.form{
    border-radius: 10px;
    padding: 3px 5px;
    border-color:cadetblue;
    background-color: cadetblue;
} 

nav div label input#search{
    padding: 5px 25px 5px 5px;
    margin: 25px;
    border-radius: 10px;
    background-color: beige;
    color: black;


}

div.background{
    text-align: center;
    background-color:white;
    margin: 0px 200px 300px 200px;
    border-radius: 20px;
}

div.login input.google{
    width: 200px ;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px  ;
    margin-bottom: 30px;
}

div.Or{
    margin-bottom: 30px;
}

div.content label{
    margin-Top: 10px;
    width: 200px;
    height: 30px;
}

div.content input#mail{
    margin-Top: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

div.content div input#pass{
    margin-Top: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 0px;
}

div.content div {
    margin-bottom: 30px;

}

div.content div.submit input{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: beige;

}


