

#img{
    display: inline;
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
    color: cadetblue;
    width: 78px;
    
    
}


h1{
    text-decoration: solid underline black;

}
div.section h2{

    color: cadetblue;
    text-decoration: underline;

}

div.borrowed {
    display:flex;
    margin: 15px 20px 20px 10px;
}

div.borrowed div {
    margin-right: 25px;
}

div.borrowed div div.options {
    text-align: center;
    margin: 30px;

}

div.borrowed div.options input {
    display: flex;

    background-color:blue;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    color: white;

    
}

div#message-text{
    background-color: blue;
    color: white;
    width: 300px;
    height: 40px;
    top: 0%;
    text-align: center;
    margin-right: 400px;

}

#message-box {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 1px solid #2c1f1f;
    border-radius: 5px;
    background-color: #fff;

}
#ok-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}